@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #ffffff;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup-content {
  min-width: 300px;
  background-color: #ffffff;
}

.content-layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 60%;
}

.flexbox-action-layout {
  grid-column: 1 / 2;
  overflow-y: scroll;
}

.flexbox-simulator-layout {
  grid-column-start: 2;
  overflow: auto;
  position: relative;
}

.footer-layout {
  grid-template-rows: 1fr;
}

@media (max-width: 768px) {
  .content-layout {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 500) {
  .content-layout {
    grid-template-columns: 60% 40%;
  }
}
