.container {
  height: 100%;
  width: 100%;
  background-color: #0c090a;
  color: white;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 27px;
  padding: 18px 40px;
}

.linkGithub {
  font-size: 13px;
  margin-top: 29px;
  margin-right: 34px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    padding: 12px 40px;
  }
  .linkGithub {
    margin-top: 19px;
    margin-right: 3px;
  }
}
